@import 'variables.css';


  .currentWeather {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 300px;
    margin-top: 1rem;
    
    .locationName {
      align-self: flex-start;
      color: var(--text-main);
      font-family: var(--font);
    }

    .main {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
    .text {
      display: flex;
      flex-direction: column;
      width: 100px;
    }
    .temp {
      font-size: 2rem;
      color: var(--text-main);
      font-family: var(--font);
    }
    .status {
      color: var(--text-accent);
      font-family: var(--font);
      font-weight: 500;
    }

    .extra {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      
      span {
        color: var(--text-accent);
        font-family: var(--font);
      }
    }
  }
