@import 'variables.css';

.forecast {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;

  span, button {
    font-family: var(--font);
  }

  .data {
    width: 100%;
  }

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      color: var(--text-accent);
    }

    button {
      background: none;
      border: none;
      color: var(--text-main);
      font-size: 1rem;
      font-weight: 500;
      width: 1rem;
      text-align: right;

      &:hover {
        transform: translateY(-2px);
      }
    }
  }

  .left {
    display: flex;
    align-items: center;

    span {
      color: var(--text-main);
      font-weight: 600;
    }

    img {
      width: 75px;
      height: 75px;
    }
  }

  .bottom {
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--accent);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out, padding 0.4s ease-in-out;

    span {
      color: var(--text-main);
      font-weight: 500;
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;

    span {
      color: var(--text-accent);
      font-weight: 400;
    }
    
  }

  .open {
    max-height: 2000px;
    padding: 1rem 5%;
  }
}