@import 'variables.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
}

@media screen and (min-width: 0px) {
  .iconBtn {
    background: none;
    border: none;

    &:hover {
      transform: translateY(-2px);
    }
  }

  header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5%;
    background: linear-gradient(var(--background-main), var(--background-accent));
    box-shadow: 0px 10px 30px var(--accent);
    z-index: 2;
  }

  .menu {
    svg {
      width: 2rem;
      height: 2rem;
    }
    
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 3%;
    width: 100%;
    height: 100vh;
    background-color: var(--background-accent);
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    transform: translate(-100%);
    transition: transform 300ms ease-in-out;
  }

  .open {
    transform: translate(0);
  }

  .close {
    align-self: flex-end;
    svg {
      width: 2rem;
    height: 2rem;
    }
    
  }
  
  .navContent {
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
    height: 100%;
  }

  .searchBar {
    
    button {
      vertical-align: middle;
      margin-left: 0.5rem;
    }

    input {
      padding: 0.5rem 1rem;
      border: 2px solid var(--accent);
      border-radius: 5px;
      background-color: var(--background-accent);
      color: var(--text-main);
      font-family: var(--font);

      &::placeholder {
        color: #64748b;
      }

      &:focus {
        outline: none;
        background-color: var(--background-main);
      }
    }
  }

  .list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: space-between;
    overflow: auto;

    background:
    /* Shadow Cover TOP */
    linear-gradient(
      var(--background-accent) 30%,
      rgba(255, 255, 255, 0)
    ) center top,
    
    /* Shadow Cover BOTTOM */
    linear-gradient(
      rgba(255, 255, 255, 0), 
      var(--background-accent) 70%
    ) center bottom,
    
    /* Shadow TOP */
    radial-gradient(
      farthest-side at 50% 0,
      rgba(15, 23, 42, 0.1),
      rgba(0, 0, 0, 0)
    ) center top,
    
    /* Shadow BOTTOM */
    radial-gradient(
      farthest-side at 50% 100%,
      rgba(15, 23, 42, 0.1),
      rgba(0, 0, 0, 0)
    ) center bottom;

    background-repeat: no-repeat;
    background-size: 100% 40px, 100% 40px, 100% 20px, 100% 20px;
    background-attachment: local, local, scroll, scroll;
  }

  .searchItem {
    width: fit-content;
    border: none;
    background: none;
    color: var(--text-main);
    font-family: var(--font);
    font-size: 1rem;
    border-bottom: 3px solid transparent;

    &:hover {
      border-bottom: 3px solid var(--text-accent);
    }
  }

  .listItem {
    width: 100%;
    display: flex;
    justify-content: space-between;
    button {
      vertical-align: middle;
      border: none;
      background: none;
      color: var(--text-main);
      font-family: var(--font);
      font-size: 1rem;
      border-bottom: 3px solid transparent;

      &:first-of-type:hover {
        border-bottom: 3px solid var(--text-accent);
      }
    }
  }

  .unitBtns {
    border: 1px solid var(--text-main);

    button {
      background: none;
      border: none;
      padding: 0.25rem 0.5rem;
      color: var(--text-main);
      font-family: var(--font);
      font-size: 0.9rem;
      
      &:hover {
        font-weight: 700;
      }
    }
    
    .active {
      background-color: var(--text-main);
      color: var(--background-main);

      &:hover {
        font-weight: 400;
      }
    }
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 5%;
    z-index: 1;
    background: linear-gradient(var(--background-main), var(--background-accent));
  }
}

@media screen and (min-width: 768px) {
  header {
    padding: 1.5rem 5%;
  }

  nav {
    width: 60%;
    box-shadow: 0px 10px 0 10000px rgba(15, 23, 42, 0.0);
    transition: transform 300ms ease-in-out, box-shadow 0.3s ease-in-out;

    &.open {
      box-shadow: 0px 10px 0 1000px rgba(15, 23, 42, 0.3)
    }
  }

  main {
    padding: 3%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
  }
}

@media screen and (min-width: 1440px) {
  header {
    justify-content: flex-end;
  }
  nav {
    transform: translate(0);
    width: 30%;
    box-shadow: 2px 0 15px rgba(15, 23, 42, 0.2);

    &.open {
      box-shadow: 2px 0 15px rgba(15, 23, 42, 0.2);
    }
  }

  main {
    padding-left: 30%;
  }

  .close, .menu {
    display: none;
  }
}